.entire{
	background:#ffcf79;
	background:linear-gradient(45deg, yellow, indigo);
	margin:15px;
}

#menuSection{
	background-color:darkgreen;
	height:100px;
	font-size:28px;
	font-family:Helvetica,Tahoma;
	font-weight:bold;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}

ol{
list-style-type:none;
padding:0;
margin:0;	
}
li{
display:inline;
padding:40px;
vertical-align:middle;

}
a{
text-decoration:none;
color:white;
vertical-align:middle;
}

a:hover{
	font-weight:bold;
	color:white;
	background:linear-gradient(blue,  indigo);
	border-radius:10px
}
.note{
	color:red;
	font-weight:bold;
	text-decoration:underline;
}

div .about{
	font-size:18px;
	font-family:Georgia,Helvetica;
	margin-left:5px;

}
