body {
	overflow-x:hidden;
	background-color:#F6F4F2;
}
	.active {
		border-bottom: 2px solid #fff;
	padding:6px;
    color: white;
	border-radius:4px;
}

.menuSection{
	 letter-spacing: 4px;
	background: linear-gradient(20deg, #000000,#0626a7,#0673f9,#110728,#00362f);
	 /*background:linear-gradient(25deg, #b3b3d0,#00030fde,#06c4aa);
	 background-color:#000005;*/
	padding-top:25px;
	font-weight:bold;
	font-size:25px;
	margin:-8px;
	font-family:Helvetica, Tahoma;
	line-height:2.5em;
}
ol{
list-style-type:none;
padding:0;
margin:0;
text-align:left;
}

ol li{
display:inline;
padding-bottom:7px;
padding-top:8px;
padding-right:15px;
}

ol li a{
text-decoration:none;
color:white;
vertical-align:middle;
padding:7px;
margin-left:15px;
}

ol li a:hover{
	font-weight:bold;
    transition: 0.5s all ease-in ;
	  transition: 0.5s all ease-in ;
	padding-bottom:15px;
	border-bottom:2px solid black;
	
	  color: #000;
	   background: #fff;
	/*border-bottom-left-radius:30px;
	border-top-right-radius:30px;
  box-shadow: 0px 1px 5px 2px #1abc9c;
	padding-bottom:3px; */	
}

ol li a:visited{
border-bottom:2px solid indigo;
}

/*index page social media buttons */
.mon{
 margin-left:auto;
 margin-right:auto;
  justify-content: space-around;
  display: flex;
  max-width: 370px;
}
.mon a{
  text-decoration: none;
  font-size: 30px;
  color: #58aeb0; 
  width: 100px;
  height: 89px;
  text-align: center;
  transition: 0.3s all;
  line-height: 81px;
  cursor: pointer;
 background:#63715f; 
  border-radius: 50%;
}
.mon a:hover{
  transform: scale(1.2);
}

/* =======>footer section<===========*/


#page-container {
	
  position: relative;
    min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.0rem;    /* Footer height */
}
	
.footer{
	
	background:#efe5e540;
	text-align:center;
	font-family:georgian;  /*for both left and right */
   font-size:16px;
   line-height:1.4em;
   clear:both;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  margin-left:-8px;
  margin-bottom:-8px;
  height: 3.0rem;            /* Footer height */
}

.text-on-the-contacts-tab{
	border:2px solid black;
				padding:8px;
				line-height:1.6em;
}
  

.mySystem{
	    font-size:14px;
		font-family:Georgia;
		background:#af9761;
		margin:5px 0px;
		padding:10px;
		text-align:center;
		line-height:1.6em;
}
.email{
	text-align:center;
	font-style:bold;
}
.email a:hover{
	text-decoration:none;
	color:green;
	transition: 0.4s all ease-in-out;
	font-weight:bold;
	border-bottom: 3px solid #777;
    transition: 0.4s all ease-in ;
    padding: 15px 0;

}


.wrap-My-home-Text{
	background:#19132f;
	color:#C6C4C5;
	padding:15px;
  width: 75%;
	font-family:Georgia, Helvetica, sans serif;
	line-height:1.6em;
	border:2px solid white;
	border-radius:8px;
}

/*decorating social media buttons */
.s-m{
  margin-right: auto;
    margin-left: auto;
  justify-content: space-around;
  display: flex;
}
.s-m a{
  text-decoration: none;
  font-size: 28px;
  color: #58aeb0; 
  width: 60px;
  height: 60px;
  text-align: center;
  transition: 0.4s all;
  line-height: 55px;
  cursor: pointer;
 background: darkblue; 
  border-radius: 50%;
}
.s-m a:hover{
  transform: scale(1.2);
}

/*pre-loader */

#preloader{
  margin: 0;
  padding: 0;
  background:#2980b9;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60px;
  display: flex;
  align-items: center;
}
.obj{
  width: 7px;
  height: 60px;
  background: white;
  margin: 0 4px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj:nth-child(2){
  animation-delay: 0.1s;
}
.obj:nth-child(3){
  animation-delay: 0.2s;
}
.obj:nth-child(4){
  animation-delay: 0.3s;
}
.obj:nth-child(5){
  animation-delay: 0.4s;
}
.obj:nth-child(6){
  animation-delay: 0.5s;
}
.obj:nth-child(7){
  animation-delay: 0.6s;
}
.obj:nth-child(8){
  animation-delay: 0.7s;
}


@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 65px;
  }
  100%{
    height: 0;
  }
}

/*pre-loader section */
.pre ul{
list-style-type:none;
padding:10px;
text-align:right;
margin-top:60px;
border:2px solid black;
}

.pre ul li{
display:inline;
margin-top:20px;
margin:15px;
}

.pre ul li a{
text-decoration:none;
color:white;
font-size:32px;
vertical-align:middle;
padding-left:10px;
padding-right:10px;
margin-right:40px;
}

.pre ul li a:hover{
	font-weight:bold;
    transition: 0.5s all ease-in ;
    padding-top:20px;
	padding-bottom:20px;
	border-bottom:2px solid indigo;
	border-radius:0px;
	 background: #2980b;
  color: #000;	
}

.container-grid{
display: grid;
grid-template-columns: auto;
grid-gap: 10px;
grid-auto-rows:100px ;
/*grid-template-rows: 100px 100px 100px 100px;*/
}
.section{
	border:1px solid white;
grid-column:1 /1 ;
grid-row:1 /4;
background-color :#2CCCC3;
color:yellow;
text-align: center;
font-size: 20px;
border:2px solid white;
border-radius:14px;
}

.nestedGrid{
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 20px;
grid-auto-rows:180px ;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
}

.text-project1{
background-color: indigo;
} 

.text-project2{
background-color: indigo;
}

#x{
		border:1px solid white;
	background-image:url(Status.png);
}

#xx{
		border:1px solid white;
	background-image:url(hey.png);
}

#xxx{
		border:1px solid white;
	background-image:url(linux.png);
}

#x a{
text-decoration: none;
color: yellow;
padding:8px;
border-radius: 7px;
}

#xx a{
text-decoration: none;
color: yellow;
padding:8px;
border-radius: 7px;
}

#xxx a{
text-decoration: none;
color: yellow;
padding:8px;
border-radius: 7px;
}

#litle-Tittle{
	font-size: 25px;
	letter-spacing: 3px;
	text-decoration: underline;
}

/*animating my image */
#cf {
	  width:100%;
  height:auto;
  position:absolute;
  margin-left:3px;
}

#cf img {  
position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top {
animation-name:moni;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}


 @keyframes moni{
	0% {opacity:1;}
		45% {opacity:1;}
			55% {opacity:0;}
				100% {opacity:0;}
}



