.entire{
	background:#ffcf79;
	margin:15px;
}

#menuSection{
	background-color:darkgreen;
	height:110px;
	font-size:30px;
	font-family:Helvetica,Tahoma;
	font-weight:bold;
	margin-left:-15px;
	margin-right:5px;
	margin-top:10px;
}

ol{
list-style-type:none;
padding:0;
margin:0;	
}
li{
display:inline;
padding:10px 10px 20px 15px;
}

a{
text-decoration:none;
color:white;
vertical-align:middle;
}

a:hover{
	font-weight:bold;
	color:white;
	background:linear-gradient(red, blue,  indigo);
	border-radius:7px
}
.note{
	color:red;
	font-weight:bold;
	text-decoration:underline;
}

div .about{
	font-size:17px;
	font-family:Verdana,Lato,Georgia,Helvetica;
	margin-left:5px;

}
